
{% extends 'witness/witness_base.html' %}

{% block main-content %}

    <div class="row">
        <div class="col lg-12">
            <h3>Cases</h3>
            <hr>
            {% for case in case_list %}

                <div class="list-group-item">
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="first">
                            <h5 style="font-weight: bold;">{{case.name}}</h5>
                            <p>Hearing On : <span class="badge badge-warning">{{case.hearing_date}}</span> </p>
                        </div>
                        <div class="right">
                            <p>status : <span class="status-txt">{{case.case_status}}</span> </p>
                            <button class="btn btn-success">start hearing</button>
                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}

