{% extends 'lawyer/lawyer_base.html' %}

{% block main-content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>Cases</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Hearging Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for case in case_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{case.name}}</td>
                        <td>{{case.hearing_date}}</td>
                        <td>{{case.case_status}}</td>
                        <td>
                            <a href="{% url 'lawyer_case_detail' case.id %}" class="btn btn-primary"> view details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            
        </div>
    </div>

{% endblock %}