{% extends 'shared/base.html' %} 
{% block content %}

<section id="lawyer_home">

    <div class="sidebar">
        <h3 class="px-2">{{request.user}}</h3>

        <hr>

        <ul class="list-group mt-3">
            <li class="list-group-item"><a href="{% url 'lawyer_home' %}">Home</a></li>
            <li class="list-group-item"><a href="{% url 'lawyer_home' %}">Clients</a></li>
            <li class="list-group-item"><a href="{% url 'lawyer_home' %}">Witness</a></li>
            <li class="list-group-item"><a href="{% url 'lawyer_home' %}">Evidence</a></li>
            <li class="list-group-item"><a href="{% url 'lawyer_home' %}">Profile</a></li>
            <li class="list-group-item"><a href="{% url 'lawyer_home' %}">Log out</a></li>
        </ul>

    </div>

    <div class="main-content">
        
        {% block main-content %}
        {% endblock %}

    </div>

</section>

{% endblock %}
